.panel {
  background-color: #121212;
  color: #fff;
  position: fixed;
  top: 20px;
  left: 50px;
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f4a261;
  color: #fff;
  height: 50px;
}

.button:hover {
  cursor: pointer;
}

.dropZone {
  width: 200px;
  height: 70px;
  border: 1px dashed grey;
  border-radius: 5px;
}

.dropZoneUploaded {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #fff;
}

.uploads {
  display: flex;
  gap: 10px;
  align-items: center;
}
